body {
    background-color:#e0fcfd;
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    background-image: url('/static/img/back.png ');
  background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: "Times New Roman", Times, serif;
  }
 
 .nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navi{
    padding: 20px;
}
.nav {
    position: relative;
    background-color: #87b7ff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.75s;
    
}

.nav input:checked ~ .menu {
    width: 700px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
    
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
   
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: black;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.navi{
    background-color: #e0fcfd;
}
li a:hover {
    background-color: #87b7ff;
  }
li {
    float: left;
    color : black;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
  }
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-image: url('/static/img/back.png ');
  background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e0fcfd; 
  color: black; 
  border: 2px solid #2bd7e5;
  border-radius: 12px;
}

.button:hover {
  background-color: #2bd7e5;
  color: white;
}



.profile-img {
    width: 100px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */
